
@media (min-width: 400px) and (max-width: 450px){

.main-container3{
  width: 94%;
  margin-top:4%;
  position: absolute;
  margin-left: 2%;
}

.cont1,.cont2{
	display: none;
}

.cont_resp1,.cont_resp2{
	display: block;
}


#update_info{
	position: absolute;
	margin-left: 2.7%;
	margin-top: -1%;
}



.picture-default{
	background-color: grey;
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}


.picture-default>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}




.picture-profile{
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}

.picture-profile>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;

}



#btn_foto{
	margin-left:1%;
	margin-top: 79.4%;
	width: 100%;
}

#btn_foto_del{
	margin-left:1%;
	margin-top: 79.4%;
	width: 100%;
}

}




@media (min-width: 451px) and (max-width: 500px){


.main-container3{
  width: 94%;
  margin-top:4%;
  position: absolute;
  margin-left: 2%;
}

.cont1,.cont2{
	display: none;
}

.cont_resp1,.cont_resp2{
	display: block;
}



#update_info{
	position: absolute;
	margin-left: 2.7%;
	margin-top: -1%;
}



.picture-default{
	background-color: grey;
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}


.picture-default>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}




.picture-profile{
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}

.picture-profile>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;

}



#btn_foto{
	margin-left:1%;
	margin-top: 72.4%;
	width: 100%;
}

#btn_foto_del{
	margin-left:1%;
	margin-top: 72.4%;
	width: 100%;
}

}







@media (min-width: 501px) and (max-width: 550px){


.main-container3{
  width: 94%;
  margin-top:4%;
  position: absolute;
  margin-left: 2%;
}

.cont1,.cont2{
	display: none;
}

.cont_resp1,.cont_resp2{
	display: block;
}


#update_info{
	position: absolute;
	margin-left: 2.7%;
	margin-top: -1%;
}



.picture-default{
	background-color: grey;
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}


.picture-default>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}




.picture-profile{
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}

.picture-profile>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;

}



#btn_foto{
	margin-left:1%;
	margin-top: 63.4%;
	width: 100%;
}

#btn_foto_del{
	margin-left:1%;
	margin-top: 63.4%;
	width: 100%;
}


}







@media (min-width: 551px) and (max-width: 600px){

.main-container3{
  width: 94%;
  margin-top:4%;
  position: absolute;
  margin-left: 2%;
}

.cont1,.cont2{
	display: none;
}

.cont_resp1,.cont_resp2{
	display: block;
}



#update_info{
	position: absolute;
	margin-left: 2.7%;
	margin-top: -1%;
}



.picture-default{
	background-color: grey;
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}


.picture-default>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}




.picture-profile{
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}

.picture-profile>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;

}



#btn_foto{
	margin-left:1%;
	margin-top: 60.4%;
	width: 100%;
}

#btn_foto_del{
	margin-left:1%;
	margin-top: 60.4%;
	width: 100%;
}


}


@media (min-width: 601px) and (max-width: 650px){


.main-container3{
  width: 94%;
  margin-top:4%;
  position: absolute;
  margin-left: 2%;
}

.cont1,.cont2{
	display: none;
}

.cont_resp1,.cont_resp2{
	display: block;
}



#update_info{
	position: absolute;
	margin-left: 2.7%;
	margin-top: -1%;
}



.picture-default{
	background-color: grey;
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}


.picture-default>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}




.picture-profile{
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}

.picture-profile>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;

}



#btn_foto{
	margin-left:1%;
	margin-top: 55.4%;
	width: 100%;
}
#btn_foto_del{
	margin-left:1%;
	margin-top: 55.4%;
	width: 100%;
}


}



@media (min-width: 651px) and (max-width: 700px){



.main-container3{
  width: 94%;
  margin-top:4%;
  position: absolute;
  margin-left: 2%;
}

.cont1,.cont2{
	display: none;
}

.cont_resp1,.cont_resp2{
	display: block;
}



#update_info{
	position: absolute;
	margin-left: 2.7%;
	margin-top: -1%;
}



.picture-default{
	background-color: grey;
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}


.picture-default>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}




.picture-profile{
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}

.picture-profile>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;

}



#btn_foto{
	margin-left:1%;
	margin-top: 55.4%;
	width: 100%;
}

#btn_foto_del{
	margin-left:1%;
	margin-top: 55.4%;
	width: 100%;
}


}







@media (min-width: 701px) and (max-width: 750px){



.main-container3{
  width: 94%;
  margin-top:4%;
  position: absolute;
  margin-left: 2%;
}

.cont1,.cont2{
	display: none;
}

.cont_resp1,.cont_resp2{
	display: block;
}


#update_info{
	position: absolute;
	margin-left: 2.7%;
	margin-top: -1%;
}



.picture-default{
	background-color: grey;
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}


.picture-default>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}




.picture-profile{
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}

.picture-profile>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;

}



#btn_foto{
	margin-left:1%;
	margin-top: 50.4%;
	width: 100%;
}

#btn_foto_del{
	margin-left:1%;
	margin-top: 50.4%;
	width: 100%;
}


}





@media (min-width: 751px) and (max-width: 800px){



.main-container3{
  width: 94%;
  margin-top:4%;
  position: absolute;
  margin-left: 2%;
}

.cont1,.cont2{
	display: none;
}

.cont_resp1,.cont_resp2{
	display: block;
	margin-left: 60%;
}



#update_info{
	position: absolute;
	margin-left: 2.7%;
	margin-top: -1%;
}



.picture-default{
	background-color: grey;
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}


.picture-default>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}




.picture-profile{
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}

.picture-profile>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;

}



#btn_foto{
	margin-left:1%;
	margin-top: 48.4%;
	width: 100%;
}

#btn_foto_del{
	margin-left:1%;
	margin-top: 48.4%;
	width: 100%;
}

}



@media (min-width: 801px) and (max-width: 850px){


.main-container3{
  width: 94%;
  margin-top:4%;
  position: absolute;
  margin-left: 2%;
}

.cont1,.cont2{
	display: none;
}

.cont_resp1,.cont_resp2{
	display: block;
}


#update_info{
	position: absolute;
	margin-left: 2.7%;
	margin-top: -1%;
}



.picture-default{
	background-color: grey;
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}


.picture-default>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}




.picture-profile{
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}

.picture-profile>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;

}



#btn_foto{
	margin-left:1%;
	margin-top: 45.4%;
	width: 100%;
}
#btn_foto_del{
	margin-left:1%;
	margin-top: 45.4%;
	width: 100%;
}

}




@media (min-width: 851px) and (max-width: 900px){


.main-container3{
  width: 94%;
  margin-top:4%;
  position: absolute;
  margin-left: 2%;
}

.cont1,.cont2{
	display: none;
}

.cont_resp1,.cont_resp2{
	display: block;
	margin-left: 60%;
}

.cont_resp2{
	margin-left: 4%;
	margin-top: -16%;
}

#update_info{
	position: absolute;
	margin-left: 37.7%;
	margin-top: -1%;
}



.picture-default{
	background-color: grey;
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}


.picture-default>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}




.picture-profile{
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}

.picture-profile>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;

}



#btn_foto{
	margin-left:1%;
	margin-top: 45.4%;
	width: 100%;
}

#btn_foto_del{
	margin-left:1%;
	margin-top: 45.4%;
	width: 100%;
}

}




@media (min-width: 901px) and (max-width: 950px){


.main-container3{
  width: 94%;
  margin-top:4%;
  position: absolute;
  margin-left: 2%;
}

.cont1,.cont2{
	display: none;
}

.cont_resp1,.cont_resp2{
	display: block;
	margin-left: 60%;
}

.cont_resp2{
	margin-left: 4%;
	margin-top: -15%;
}

#update_info{
	position: absolute;
	margin-left: 37.7%;
	margin-top: -1%;
}



.picture-default{
	background-color: grey;
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}


.picture-default>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}




.picture-profile{
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}

.picture-profile>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;

}



#btn_foto{
	margin-left:1%;
	margin-top: 45.4%;
	width: 100%;
}

#btn_foto_del{
	margin-left:1%;
	margin-top: 45.4%;
	width: 100%;
}


}




@media (min-width: 951px) and (max-width: 1000px){


.main-container3{
  width: 94%;
  margin-top:4%;
  position: absolute;
  margin-left: 2%;
}

.cont1,.cont2{
	display: none;
}

.cont_resp1,.cont_resp2{
	display: block;
	margin-left: 60%;
}

.cont_resp2{
	margin-left: 4%;
	margin-top: -15%;
}

#update_info{
	position: absolute;
	margin-left: 37.7%;
	margin-top: -1%;
}



.picture-default{
	background-color: grey;
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}


.picture-default>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}




.picture-profile{
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}

.picture-profile>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;

}



#btn_foto{
	margin-left:1%;
	margin-top: 45.4%;
	width: 100%;
}


#btn_foto_del{
	margin-left:1%;
	margin-top: 45.4%;
	width: 100%;
}

}



@media (min-width: 1001px) and (max-width: 1100px){

.main-container3{
  width: 94%;
  margin-top:4%;
  position: absolute;
  margin-left: 2%;
}

.cont1,.cont2{
	display: block;
}

.cont_resp1,.cont_resp2{
	display: none;
}

.cont1{
	margin-left: 5%;
	width: 40%;
}
.cont2{
	margin-top: -17.5%;
	margin-left: 58%;
	width: 40%;
}


#update_info{
	position: absolute;
	margin-left: 37.7%;
	margin-top: -1%;
}



.picture-default{
	background-color: grey;
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}


.picture-default>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}




.picture-profile{
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}

.picture-profile>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;

}



#btn_foto{
	margin-left:1%;
	margin-top: 40.4%;
	width: 100%;
}

#btn_foto_del{
	margin-left:1%;
	margin-top: 40.4%;
	width: 100%;
}





}



@media (min-width: 1101px) and (max-width: 1200px){


.main-container3{
  width: 94%;
  margin-top:4%;
  position: absolute;
  margin-left: 2%;
}

.cont1,.cont2{
	display: block;
}

.cont_resp1,.cont_resp2{
	display: none;
}

.cont1{
	margin-left: 5%;
	width: 40%;
}
.cont2{
	margin-top: -17.5%;
	margin-left: 58%;
	width: 40%;
}


#update_info{
	position: absolute;
	margin-left: 37.7%;
	margin-top: -1%;
}



.picture-default{
	background-color: grey;
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}


.picture-default>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}




.picture-profile{
	position: absolute;
	margin-left:1%;
	width: 100%;
	height:270px;
	margin-top: 15%;
}

.picture-profile>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;

}



#btn_foto{
	margin-left:1%;
	margin-top: 38.4%;
	width: 100%;
}

#btn_foto_del{
	margin-left:1%;
	margin-top: 38.4%;
	width: 100%;
}


}




@media (min-width: 1201px) and (max-width: 1300px){


.main-container3{
  width: 94%;
  margin-top:4%;
  position: absolute;
  margin-left: 2%;
}

.cont1,.cont2{
	display: block;
}

.cont_resp1,.cont_resp2{
	display: none;
}

.cont1{
	margin-left: 5%;
	width: 40%;
}
.cont2{
	margin-top: -.5%;
	margin-left: 5%;
	width: 40%;
}


#update_info{
	position: absolute;
	margin-left: 9.7%;
	margin-top: -1%;
}



.picture-default{
	background-color: grey;
	position: absolute;
	margin-left:47%;
	width: 50%;
	height:270px;
	margin-top: -29%;
}


.picture-default>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}




.picture-profile{
	position: absolute;
	margin-left:47%;
	width: 50%;
	height:270px;
	margin-top: -29%;
}

.picture-profile>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;

}



#btn_foto{
	margin-left:65%;
	margin-top: -12%;
	width:14%;
}

#btn_foto_del{
	margin-left:65%;
	margin-top: -12%;
	width:14%;
}

}




@media (min-width: 1301px) and (max-width: 1400px){


.main-container3{
  width: 94%;
  margin-top:4%;
  position: absolute;
  margin-left: 2%;
}

.cont1,.cont2{
	display: block;
}

.cont_resp1,.cont_resp2{
	display: none;
}

.cont1{
	margin-left: 5%;
	width: 40%;
}
.cont2{
	margin-top: -.5%;
	margin-left: 5%;
	width: 40%;
}


#update_info{
	position: absolute;
	margin-left: 9.7%;
	margin-top: -1%;
}



.picture-default{
	background-color: grey;
	position: absolute;
	margin-left:47%;
	width: 50%;
	height:270px;
	margin-top: -29%;
}


.picture-default>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}




.picture-profile{
	position: absolute;
	margin-left:47%;
	width: 50%;
	height:270px;
	margin-top: -29%;
}

.picture-profile>img{
	width: 100%;
	height: 100%;
	object-fit: scale-down;

}



#btn_foto{
	margin-left:65%;
	margin-top: -12%;
	width:14%;
}
#btn_foto_del{
	margin-left:65%;
	margin-top: -12%;
	width:14%;
}

	
}








